.questions {
	overflow: auto;
	padding-bottom: 2.5%;

}

.questionnumber, .completion {

	font-size: 1.5rem;

}

.thequestion {

	font-size: 2.1rem;

}
body {

	font-family: 'Archivo Narrow', sans-serif;
}
form input {

	float: left;
	margin-top: 4px;

}

li {

	list-style: none;
	width: 600px;
	margin: 0 auto;
	margin-bottom: 2%;

}

li:hover {
	background-color: #DEDEDE;
}

label:hover {
	cursor: pointer;
}

span {

	padding-left: 5px;
	padding-right: 5px;

}

#submitbutton {
	float: right;
	margin-right: 15%;
}
#submitbutton.resultsButton {
	float:left;
	text-align: center;
	position: absolute;
	left: 46.5%;
}

label {

	padding-left: 7px;
	
}

.questionnumber, .thequestion, .completion {

	float: left;
	width: 33%;
	text-align: center;
	white-space: pre-wrap;
}


.headline {
	text-align: center;
	display: block;
	font-size: 3.5rem;
	padding-top: 5px;
	margin-bottom: 100px;
	font-family: 'Julius Sans One', sans-serif;
}

.results {

	width: 80%;
	height: 500px;
	margin: 0 auto;
	display: none;
	text-align: center;
}

.results h2, .results p {
	display: block;
	clear:both;
	width: 100%;
	margin: 0 auto;
}

.results h2 {
	margin-bottom: 2%;
}

.results p {
	margin-top: 2%;
}

ul {

	margin: 0 auto;
}