
.questions {
	overflow: auto;
	padding-bottom: 2.5%;

}

.questionnumber, .completion {

	font-size: 1.5rem;

}

.thequestion {

	font-size: 2.1rem;

}
body {

	font-family: 'Archivo Narrow', sans-serif;
}
form input {

	float: left;
	margin: 0;

}

li {

	list-style: none;
	padding-bottom: 25px;
	width: 600px;
	margin: 0 auto;
}

li:hover {
	cursor: pointer;
	background-color: #DEDEDE;
}

span {

	padding-left: 5px;
	padding-right: 5px;

}

#submitbutton {
	float: right;
	margin-right: 15%;
}

input {
	margin-left: 35%;
}

.questionnumber, .thequestion, .completion {

	float: left;
	display:inline-block;
	width: 33%;
	text-align: center;
}


.headline {
	text-align: center;
	display: block;
	font-size: 3.5rem;
	padding-top: 5px;
	margin-bottom: 100px;
	font-family: 'Julius Sans One', sans-serif;
}

.results {

	width: 80%;
	height: 500px;
	margin: 0 auto;
}

.results h2, .results p {
	float: left;
	display: block;
	clear:both;
	text-align: center;
	width: 100%;
	margin: 0 auto;
	display: none;
}

.results h2 {
	margin-bottom: 2%;
}

.results p {
	margin-top: 2%;
}

img {

	
  float: left;
  margin-left: 36%;
  display: none;
 
}

ul {

	margin: 0 auto;
}
